*.png
*.jpg
*.jpeg
./images/*.png
./images/*.jpg
./images/*.jpeg
./*.mkv
./*.mp4
*.o
*.dep
./*.gif
videos
src/poppy
src/poppy.html
src/poppy.js
src/poppy.wasm
third/build_wasm/
third/opencv-4.5.5.zip

